body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#navbar{
    width: 25%; /* width changed from 200% to 20%*/
    height: 100%; /* height changed from 100px to 100%*/
    position: fixed;
    border-right: solid;
    border-color: #bab6b6;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
}
header{
    font-size: 20px; /* font-size changed from 3em to 20px*/
    color:rgb(36, 36, 29);  /*color changed from rgb(36, 36, 29); #000 */
    text-align: center;
    margin: 20px 0;
}
#navbar ul{
    padding: 0;
}
#navbar li{
    width: 100%;
    position: relative;
    list-style: none;
    border-top: 1px solid;
    border-color: #bab6b6;
}
#navbar a{
    font-size: 15px; /* font-size changed from 3em to 15px*/
    color: rgb(36, 36, 29);
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 20px 30px;
}
#main-doc {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    margin-right: 30px;
    left: 25%;
    margin-bottom: 100px;
    padding-left: 50px;
}
section p {
    /* color: #4d4e53; */
    font-size: 1em;
    margin: 15px;
}
section li {
    margin: 15px 0px 0px 20px;
}
code {
    display: block;
    text-align: left;
    position: relative;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    border-radius: 2px;
    background: #4fd3c4;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
}

/* For Phones (up to 767px width) */
@media (max-width: 767px) {
    #navbar{
        width: 30%;
    }
    header{
        font-size: 12px; /* font-size changed from 3em to 20px*/
    }
    #navbar a, section h4{
        font-size: 10px; /* font-size changed from 3em to 15px*/
        padding: 10px 20px;
    }
    #navbar ul{
        overflow: scroll;
    }
    #main-doc {
        margin-left: 50px;
    }
    section p {
        /* color: #4d4e53; */
        font-size: 12px;
        margin: 15px;
    }
    section li {
        margin: 15px 8px;
        font-size: 12px;
    }
    section a {
        font-size: 12px;
        margin-left: 12px;
    }
}
  /* For Tablets (768px to 991px width) */
@media (min-width: 768px) and (max-width: 991px) {
    #navbar{
        width: 30%;
    }
    #navbar ul{
        overflow: scroll;
    }
    header{
        font-size: 20px; /* font-size changed from 3em to 20px*/
    }
    #navbar a, section h4{
        font-size: 20px; /* font-size changed from 3em to 15px*/
        padding: 10px 20px;
    }
    #main-doc {
        left: 10%;
        margin-left: 40px;
    }
    section p {
        /* font-size: 12px; */
        /* margin: 15px; */
    }
    section li {
        /* margin: 15px 8px; */
        /* font-size: 12px; */
    }
    section a {
        /* font-size: 12px; */
        /* margin-left: 12px; */
    }
}
